* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 20%;
}

.container h1 {
  margin-bottom: 30px;
}

.form-group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group-header button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: transparent;
  background: blue;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.open {
  animation: open 0.5s forwards;
}

.close {
  animation: close 0.6s forwards;
}

@keyframes open{
  0% {
    transform: translate(0%, 0%) scale(0);
  }
  50% {
    transform: translate(0%, 0%) scale(1.2);
  }
  70% {
    transform: translate(0%, 0%) scale(0.95);
  }
  95% {
    transform: translate(0%, 0%) scale(1.1);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

@keyframes close{
  100% {
    transform: translate(0%, 0%) scale(0);
  }
  50% {
    transform: translate(0%, 0%) scale(1.2);
  }
  30% {
    transform: translate(0%, 0%) scale(0.95);
  }
  5% {
    transform: translate(0%, 0%) scale(1.1);
  }
  0% {
    transform: translate(0%, 0%) scale(1);
  }
}

.closeBtn {
  font-size: 25px;
  margin-left: 90%;
  font-weight: 800;
  background-color: transparent;
  border: none;
  color: rgb(255, 117, 117);
  transition: all 0.5s ease-in-out;
}

.closeBtn:hover {
  color: red;
  transform: scale(1.3);
}